body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.topcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.headerlogo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex-basis: 400px;
}

.headerlink {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-basis: 600px;
    gap: 25px;
}

.headerlink a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.herocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 140px;
    gap: 40px;
}

.herocontainerleft {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 20px;
}

.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

p {
    margin: 0;
}

.herosubtext p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.signupbutton {
    padding: 10px 35px;
    background-color: #3882f6;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 15px;
    color: #f9faf8;
    align-self: flex-start;
}

.imageplaceholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-size: 18px;
    height: 270px;
    flex-basis: 600px;
}

.infocontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 80px;
    padding-bottom: 140px;
    gap: 20px;
}

.infotext {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.iteminfocontainer {
    display: flex;
    padding-top: 40px;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.info {
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emptybox {
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 200px;
    width: 200px;
}

.text {
    font-size: 23px;
    color: #1f2937;
    text-align: center;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 160px;
    padding-bottom: 160px;
    background-color: #e5e7eb;
}

.quoteitem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
}

.quotetext {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    line-height: 1.2em;
}

.quoteauthor {
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;
    color: #1f2937;
    padding-right: 20px;
}

.signupcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-top: 140px;
    padding-bottom: 140px;
}

.signupitem {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    width: 1000px;
    border-radius: 10px;
    padding: 40px 0px;
}

.signuptextcontainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.signuptext {
    font-size: 28px;
    font-weight: bold;
    color: #f9faf8;
}

.signupsubtext {
    font-size: 18px;
    color: #f9faf8;
}

.signupbutton2 {
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid white;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 35px;
    height: 50px;
}

.footercontainer {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.footertext {
    font-size: 18px;
}